.shopping-basket {
  /*Position ( begin )*/
  &__list {
    min-width: 320px;
  }
  &__image-wrapper {
    height: 90px;
  }
  &__image {
    right: auto;
    max-width: inherit;
  }
  &__title {
    margin-bottom: 15px;
  }
  &__item {
    margin-bottom: 15px;
  }
  &__footer-row {
    margin-bottom: 15px;
  }
  &__dropdown-menu {
    padding: 15px 0px;
  }
  /*Position ( end )*/
  /*Fonts ( begin )*/
  &__title {
    .mixin_custom-font( @font-family-3-bold-typeface; 16 );
  }
  &__footer-row {
    .mixin_custom-font( @font-family-3-semi-bold-typeface; 13; uppercase; );
  }
  /*Fonts ( end )*/
  /*Colors ( begin )*/

  /*Colors ( end )*/
}
