.links {
  text-decoration: none;
}


.icons {
  &__svg {

    &--text {
      margin-right: 7px;
    }
  }
  &__svg-color {

  }
  &__img {

  }
}


.main-modules {

}

/*Sections ( begin )*/
.section {
  margin-bottom: 60px;
}

.section-desc {
  margin-bottom: @section-desc-margin-bottom;
}
/*Sections ( end )*/


/*Sticky footer ( begin )*/
html {
  position: relative;
  min-height: 100%;
}

.page-wrapper {
  //if js failed
  //margin-bottom: @footer-height;
}
/*Sticky footer ( end )*/


/*Allign elements (begin)*/
.allign-middle {
  .mixin_inline-vertical-allign ( middle )
}

.allign-top {
  .mixin_inline-vertical-allign ( top );
}
/*Allign elements (end)*/


/*Vertical allign for cols ( begin ) */
.col-table {
  display: table;
}
.col-table__cell {
  display: table-cell;

  &--allign-middle {
    display: table-cell;
    vertical-align: middle;
  }
}
/*Vertical allign for cols ( end ) */

/*Markers (b)*/
.marker {
  &-sale,
  &-discont   {
    display: inline-block;
    padding: 5px 10px;
  }
  &-sale,
  &-discont {
    position: absolute;
    top: 0;
    z-index: 2;
  }
  &-sale {
    left: 0;
  }
  &-discont {
    right: 0;
  }
}
/*Markers (e)*/


.badge {
  border-radius: 2px;
}


/*Custom checkbox styles ( begin ) */
.custom-checkbox {
  &__input {
    display: none;
  }
  &__label {
    padding-left: 0;
    margin-bottom: 0;
  }
  &__label .cr {
    position: relative;
    display: inline-block;
    border-radius: .25em;
    width: 1.0em;
    height: 1.0em;
    float: left;
    margin-right: .5em;
    top: 0.3em;
  }
  &__label .cr .cr-icon {
    position: absolute;
    top: 35%;
    left: 10%;
  }
  &__icon::before {
    content: " ";
    position: relative;
    bottom: 7px;
    right: 1px;
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("@{icons-path}/check.svg") no-repeat;
  }
}
/*Custom checkbox styles ( end ) */


/*Circle icons (b)*/
.circle-icons {
  &__icon-wrapper {
    position: relative;
    display: inline-block;
    width:  50px;
    height: 50px;
    border-radius: 50%;
  }
  &__icon {
    .mixin_absolute_alignment ();
  }
  & {
    padding: 30px 0px;
  }
  &__icon-wrapper {
    margin-right: 15px;
  }
  &__item-wrapper {
    margin-bottom: @margin-bottom-circle-icon__wrapper;
  }
}
/*Circle icons (e)*/


/*Payments (begin)*/
.payments-system {
  & {
    font-size: 0;
  }
  &__item {
    display: inline-block;
    width: 45px;
    height: 29px;
    background: #ffffff url('@{images-path}/footer-1/payment-methods.png') no-repeat;
  }
  &__item:nth-child(1) {
    background-position: 0px 0px;
  }
  &__item:nth-child(2) {
    background-position: -55px 0px;
  }
  &__item:nth-child(3) {
    background-position: -110px 0px;
  }
  &__item:nth-child(4) {
    background-position: -165px 0px;
  }
  &__item:nth-child(5) {
    background-position: -220px 0px;
  }
}
/*Payments (end)*/


/*Rating (begin)*/
.rating {
  margin-bottom: 10px;
}
/*Rating (end)*/


/*Social icons (begin)*/
.social-icons {
  &:after {
    content: "";
    display: inline-block;
    height: 0px;
    width: 100%;
  }

  & {
    padding: 30px 0px;
  }
  &__link {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: @border-radius;
    margin-left: 12px;
  }
  &__link svg {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px;
  }
}
/*Social icons (end)*/


/*Carousel navigation ( begin )*/
.carousel {
  .btn {
    .mixin_contrast-colors-buttons( @color-4-layout; transparent; @color-4-layout; @color-theme-layout; );
  }
  .carousel-wrapper {
    .btn {
      .mixin_contrast-colors-buttons( @color-2-layout; transparent; @color-4-layout; @color-theme-layout; );
    }
  }
}
.carousel-wrapper {
  position: relative;
}
.carousel-navigation {
  &__prev,
  &__next {
    position: absolute;

    .mixin_carousel-button-position();

    left: 50%;
    width:  @carousel-button-width;
    height: @carousel-button-height;
    border-radius: @border-radius;

    .mixin_theme-border( @color-2-layout; );
  }
  &__prev {
    margin-left: -55px;
  }
  &__next {
    margin-left: 15px;
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
  }
}
/*Carousel navigation ( end )*/


/*noUiSlider ( begin )*/
.noUi-horizontal {
  height: 10px;
  margin-bottom: 22px;
}
.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
}
.noUi-handle {
  background-color: @color-7-layout;
  box-shadow: none;
  border-width: 2px;
  border-color: @color-theme-layout;

  &:before, &:after {
    height: 0;
  }

  &:hover, &:focus {
    box-shadow: none;
  }
}
.noUi-connect {
  background-color: @color-7-layout;
  box-shadow: none;
}
/*noUiSlider ( end )*/


/*Price regulator ( begin ) */
.price-regulator {
  &__input {
    width: 60px;
    border: none;
    text-align: left;
  }
  &__inputs-separator {
    display: inline-block;
    width: @price-regulator-inputs-separator-width;
    text-align: center;
  }
}
/*Price regulator ( end ) */


/*Quantity input ( begin )*/
.widget-quantity-goods {
  &__input {
    border: none;
    text-align: center;
  }

}

/*Quantity input ( end )*/


/*Forms ( begin ) */
.forms-title {
  display: block;
  margin-bottom: 15px;
}
/*Forms ( end ) */


/*Theme margins ( begin )*/
.theme-margin {
  &__right-small {
    margin-right: 7px;
  }
  &__right-normal {
    margin-right: 15px;
  }
  &__right-double {
    margin-right: 30px;
  }
}
/*Theme margins ( begin )*/


.product {
  &__name {
    display: block;
    margin-bottom: 15px;
  }
  &__reviews {
    padding: 15px 0px;
  }
  &__desc {
    padding: 15px 0px;
  }
}


.layout__breadcrumb {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}