/*Colors (b)*/
  /*Colors storage*/
  @color-white-ffffff:              #ffffff;
  @color-grey-7a7a7a:               #7a7a7a;
  @color-grey-f6f6f6                #f6f6f6;
  @color-grey-999999:               #999999;
  @color-black-333333:              #333333;
  @color-black-171717:              #171717;
  @color-red-e56a6a:                #BF4E2E;
  @color-yellow-c8a760:             #c8a760;
  @color-purple-9176cb:             #9176cb;



  /*Layout colors*/
  @color-1-layout:                  @color-red-e56a6a;
  @color-2-layout:                  @color-black-171717;
  @color-3-layout:                  @color-grey-7a7a7a;
  @color-4-layout:                  @color-white-ffffff;
  @color-5-layout:                  @color-grey-999999;
  @color-6-layout:                  @color-yellow-c8a760;
  @color-7-layout:                  @color-black-333333;
  @color-8-layout:                  @color-purple-9176cb;

  @color-tr-layout:                 transparent;


  /*Colors elements*/
  @color-rating-value:              @color-6-layout;
  @color-markers:                   @color-1-layout;


  /*Colors elements when cursor mouse over them*/
  @color-shopping-cart-header-hover:@color-1-layout;
  @color-links-hover:               @color-1-layout;
  @color-svg-hover:                 @color-1-layout;
/*Colors (e)*/


/*Images*/
  @images-path:                      '../../images';

/*Fonts (b)*/
  @fonts-path:                      '../../global_third_components/fonts';

  /*Font colors*/
  @color-placeholder--font-color:   @color-1-layout;


  /*Font dimensions*/
  @body--font-size:                 13px;
  @teashop-button--font-size:       15px;


  /*Layout font families*/
  @body--font-family:               'Open-Sans-Regular';
  @teashop-button--font-family:     'Open-Sans-Bold';



  /*Font families*/
  /*class name part 1*/
  @font-family-3:                     open-sans;

  /*class name part 2*/
  @extra-bold-typeface:               extra-bold;
  @bold-typeface:                     bold;
  @semi-bold-typeface:                 semi-bold;
  @regular-typeface:                 regular;

  /*Family names*/
  @font-family-3-regular-typeface:    'Open-Sans-Regular';
  @font-family-3-semi-bold-typeface:  'Open-Sans-Semi-Bold';
  @font-family-3-bold-typeface:       'Open-Sans-Bold';
  @font-family-3-extra-bold-typeface: 'Open-Sans-Extra-Bold';


  //@font-family-1:              montserrat;
  //@font-family-2:              roboto;

  //@font-family-3-regular:            'Open-Sans-Regular';
  //@font-family-3-light-bold:         'Open-Sans-Light';
  //@font-family-3-bold:               'Open-Sans-Bold';
  //@font-family-3-semi-bold:          'Open-Sans-SemiBold';

  //@light-typeface:                light;
  //@regular-typeface:              regular;
  //@semibold-typeface:             semibold;
  //@bold-typeface:                 bold;

  /*Font measures*/
  @measures-of-font:                px;
  @measures-of-font-letter-spacing: px;
  @measures-of-font-line-height:    px;
/*Fonts (e)*/


/*Block model properties*/
@margin-bottom-circle-icon__wrapper: 15px;
@footer-height:                      1365px;


/*Animatу duration*/
@transition-duration-button:      0.5s;
@transition-duration-link:        0.7s;
@transition-duration-svg:         0.5s;

/*Forms*/

