.home {
  path {
    fill: @color-1-layout;
  }


}


.masonry-grid-1__item {
  position: relative;
}
.masonry-grid-1__desc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.masonry-grid-1__image-left-wrapper {
  height: 570px;
}
.masonry-grid-1__image-right-top-5-wrapper {
  height: 265px;
}
.masonry-grid-1__image-right-top-7-wrapper {
  height: 265px;
}
.masonry-grid-1__image-right-bottom-wrapper {
  height: 275px;
  margin-top: 30px;
}

.masonry-grid-1__image-left-wrapper img {
  max-width: inherit;
}
.masonry-grid-1__image-right-top-5-wrapper img {
  max-height: inherit;
}
.masonry-grid-1__image-right-top-7-wrapper img {
  max-height: inherit;
}
.masonry-grid-1__image-right-bottom-wrapper img {
  max-height: inherit;
}


.carousel-3__image-wrapper {
  height: 79px;
}
.carousel-3__image-wrapper img {
  max-width: inherit;
}
.carousel-3__item {
  padding-left: 15px;
  padding-right: 15px;
}



.carousel-5__image-wrapper {
  height: 270px;
}
.carousel-5__image-wrapper img {
  max-height: inherit;
}
.carousel-5__item {
  padding-left: 15px;
  padding-right: 15px;
}


#slider-1 .item{
  display: block;
  position: relative;
  height: 470px;
  overflow: hidden;
}

#slider-1 .item img{
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

.owl-prev, .owl-next {
  position: absolute;
  top: 50%;
  display: block;
  padding: 20px 40px;
  margin-top: -15px;
  color: #1a1a1a;
}
.owl-prev {
  left: 0;
}
.owl-next {
  right: 0;
}




.slider-1 {
  .mixin_color ( 4 );

  &__wrapper {
    margin-bottom: 30px;
  }
  &__title {
    position: relative;
    .mixin_custom-font( @font-family-3-semi-bold-typeface; 35; uppercase );
  }
  &__subtitle {
    position: relative;
    .mixin_custom-font( @font-family-3-regular-typeface; 30; uppercase );
    .mixin_color ( 1 );
  }
  &__desc {
    position: relative;
  }
}





.carousel-3 {
  &__product-title {
    .mixin_custom-font( @font-family-3-semi-bold-typeface; 16; );
    .mixin_color( 7 );
  }

  .product-price__with-discont {
    .mixin_color( 1 );
  }
}





.carousel-4__image-wrapper {
  height: 270px;
}
.carousel-4__image-wrapper img {
  max-height: inherit;
}
.carousel-4__item {
  padding-left: 15px;
  padding-right: 15px;
}
.carousel-4__table {
  background-color: #e56a6a;
}
.carousel-4__table > tbody > tr > td {
  border-top: none;
}

.carousel-4 {
  &__product-title {
    .mixin_custom-font( @font-family-3-semi-bold-typeface; 16; );
    .mixin_color( 1 );
  }

  .product-price__with-discont {
    .mixin_color( 1 );
  }

  &__item-desc {
    .mixin_custom-font( @line-height: 25; );
  }
  &__table {
    .mixin_custom-font( @font-family-3-bold-typeface; );
    .mixin_color( 4 );
    .mixin_bg_color( 1 );
  }
}

