
.home {
  /*Position ( begin )*/
  .post__title {
    display: block;
    margin-bottom: 15px;
  }
  /*Position ( end )*/
  /*Fonts ( begin )*/
  .post__title {
    .mixin_custom-font( @font-family-3-semi-bold-typeface; 16; );
  }
  /*Fonts ( end )*/
  /*Colors ( begin )*/
  .btn {
    .mixin_contrast-colors-buttons( @color-4-layout; transparent; @color-4-layout; @color-theme-layout; );
  }
  .carousel-wrapper {
    .btn {
      .mixin_contrast-colors-buttons( @color-2-layout; transparent; @color-4-layout; @color-theme-layout; );
    }
  }
  /*Colors ( end )*/
}


.slider-1 {
  /*Position ( begin )*/
  &__item{
    position: relative;
    display: block;
    height: 470px;
    overflow: hidden;
  }
  &__image {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
  }
  &__wrapper {
    margin-bottom: 30px;
  }
  &__desc {
    position: relative;
    padding: 30px;
  }
  .btn {
    margin-top: 25px;
  }
  &__button {
    padding: 30px;
  }
  /*Position ( end )*/
  /*Fonts ( begin )*/
  &__title {
    .mixin_custom-font( @font-family-3-semi-bold-typeface; 35; uppercase );
  }
  &__subtitle {
    .mixin_custom-font( @font-family-3-regular-typeface; 30; uppercase );
  }
  /*Fonts ( end )*/
  &__title {
    .mixin_contrast-colors( @color-4-layout; transparent; );
  }
  &__subtitle {
    .mixin_contrast-colors( @color-theme-layout; transparent; );
  }

}


.owl {
  &-prev, &-next {
    position: absolute;
    top: 50%;
    display: block;
    padding: 0px;
    margin-top: -15px;
  }
  &-prev {
    left: 0;
  }
  &-next {
    right: 0;
  }
}


.masonry-grid-1 {
  /*Position ( begin )*/
  &__item {
    position: relative;
  }
  &__desc {
    .mixin_absolute_stretching ();
  }
  &__image-left-wrapper {
    height: 570px;
  }
  &__image-right-top-5-wrapper {
    height: 265px;
  }
  &__image-right-top-7-wrapper {
    height: 265px;
  }
  &__image-right-bottom-wrapper {
    height: 275px;
    margin-top: 30px;
  }
  & .image {
    max-height: inherit;
  }
  &__image-left-wrapper .image {
    max-height: 100%;
    max-width: inherit;
  }
  &__desc {
    text-align: right;
    padding: 30px;
  }
  .btn {
    margin-top: 15px;
  }
  /*Position ( end )*/
  /*Fonts ( begin )*/
  &__title {
    .mixin_custom-font( @font-family-3-bold-typeface; 30; );
  }
  &__subtitle {
    .mixin_custom-font( @font-family-3-bold-typeface; 15; );
  }
  &__price {
    .mixin_custom-font( @font-family-3-bold-typeface; 60; );
  }
  /*Fonts ( end )*/
  /*Colors ( begin )*/
  &__desc {
    .mixin_contrast-colors( @color-8-layout; transparent; );
  }
  /*Colors ( end )*/
}


.carousel-3 {
  /*Position ( begin )*/
  &__items-group {
    padding-left: 15px;
    padding-right: 15px;
  }
  &__item {
    margin-bottom: 30px;
  }
  &__image-wrapper {
    height: 79px;
  }
  & .image {
    max-width: inherit;
  }
  /*Position ( end )*/
  /*Fonts ( begin )*/

  /*Fonts ( end )*/
  /*Colors ( begin )*/

  /*Colors ( end )*/
}


.carousel-4 {
  /*Position ( begin )*/
  &__image-wrapper {
    height: 270px;
  }
  &__image-wrapper .image {
    max-height: inherit;
  }
  &__item {
    padding-left: 15px;
    padding-right: 15px;
  }
  &__table > tbody > tr > td {
    border-top: none;
  }
  /*Position ( end )*/
  /*Fonts ( begin )*/
  &__table {
    .mixin_custom-font( @font-family-3-bold-typeface; );
  }
  /*Fonts ( end )*/
  /*Colors ( begin )*/
  &__table {
    .mixin_contrast-colors( @color-4-layout; @color-theme-layout; );
  }
  /*Colors ( end )*/
}


.carousel-5 {
  /*Position ( begin )*/
  &__item {
    padding-left: 15px;
    padding-right: 15px;
  }
  &__image-wrapper {
    height: 270px;
  }
  & .image {
    max-height: inherit;
  }
  /*Position ( end )*/
  /*Fonts ( begin )*/

  /*Fonts ( end )*/
  /*Colors ( begin )*/
  .btn {
    .mixin_contrast-colors-buttons( @color-7-layout; transparent; @color-4-layout; @color-theme-layout; );
  }
  /*Colors ( end )*/
}









