.header-1 {
  background-color: #171717;
}

.shopping-bag-dropdown-menu {
  min-width: 315px;
}

.shopping-basket-dropdown__image-wrapper {
  height: 78px;
}

.logo-link {
  width: 180px;
  height: 50px;
  position: absolute;
}

.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-form {
  border: none;
  padding: 0;
  margin: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.shopping-cart__badge {
  position: absolute;
  right: 4px;
  bottom: 10px;
  padding: 5px 7px;
}

.navbar-toggle {
  margin-bottom: 30px;
}

.navbar {
  margin-bottom: 0;
}