/*Position ( begin )*/
/*header-1-row-mode ( begin ) */
.header-1 {
  &__navbar {
    margin-bottom: 0px;
  }

  &__navbar-collapse {
    position: relative;
    overflow: hidden;
  }

  &__row--top,
  &__row--bottom {
    margin-left: -15px;
  }
  &__row--middle {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &__row--bottom {

  }

  &__currencys,
  &__shopping-basket {
    margin-right: 0px;
  }
}


.shopping-basket {
  &__list {
    min-width: 320px;
  }
  &__image-wrapper {
    height: 90px;
  }
  &__image {
    right: auto;
  }
}


@media (max-width: 767px) {
  .header-1 {
    &__row--top,
    &__row--bottom {
      margin: 0;
    }
    &__row--middle {
      margin: 0;
    }

    &__currencys,
    &__shopping-basket {
      margin-right: 0px;
      margin-left:  0px;
    }
  }
}
/*header-1-row-mode ( end ) */
/*Position ( end )*/


/*Fonts ( begin )*/

/*Fonts ( end )*/


/*Colors ( begin )*/
.mobile-menu-button__icon-bar {
  background-color: @color-theme-layout;
}
.header-1__navbar {
  background-color: whitesmoke;
}
/*Colors ( end )*/




