.pagination li:nth-child(1) {
  visibility: hidden;
}
.products-list__options {
  padding-top: 20px;
}
.products-list__image-wrapper {
  height: 270px;
}
.products-list__image-wrapper img{
  max-width: inherit;
}

.banner-1 {
  padding: 50px 30px;
}

.testimonial-banner-1 {
  background-color: #e56a6a;
}
.testimonial-banner-1__image-wrapper {
  width: 94px;;
  height: 94px;
  margin: auto;
}
.testimonial-banner-1__image-wrapper img {
  max-width: inherit;
}

.banner-2 {
  background-color: #fae1e1;
  color: #2C2C2C;
}