.blog-single-post__image-wrapper {
  height: 430px;
}
.blog-single-post__image-wrapper img {
  max-height: inherit;
}

.blog-single-post__comment-image-wrapper {
  width: 100px;
  height: 100px;
}

.pager .blog-single-post__prev-post-link,
.pager  .blog-single-post__next-post-link {
  border-radius: 4px;
}
