.product__table > tbody > tr > td {
  border-top: none;
}

.product__image-wrapper {
  height: 365px;
}

.product__modal-content {
  background-color: transparent;
  box-shadow: none;
  border: none;
}
.product__modal-dialog {
  height: 80vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.product__image-wrapper img {
  max-height: inherit;
}
.product__carousel-image-wrapper img {
  max-height: inherit;
}

.product__carousel-image-wrapper {
  height: 90px;
}

.product__caroisel-item {
  padding-left: 15px;
  padding-right: 15px;
}

.product__carousel {
  padding: 0px 15px;
}

.product__zoom-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;

  display: block;
  width: 40px;
  height: 40px;
  border: none;

  transform: rotate(45deg);
  background-color: #e56a6a;

  transition: background-color 0.5s;
}
.product__zoom-button:hover {
  background-color: #e55c28;
  cursor: pointer;
}

.product__zoom-icon {
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}