

.logo-link {
  position: absolute;

  &__title-fitst-letter {
    position: absolute;
    top: -40px;

    .mixin_custom-font( @font-family-3-extra-bold-typeface; 100 );
  }

  &__title-last-letters {
    position: absolute;
    left: 44px;
    width: 160px;

    .mixin_custom-font( @font-family-3-extra-bold-typeface; 40 );
  }

  &__sub-title {
    position: absolute;
    left:  46px;
    top:   53px;
    width: 160px;

    .mixin_custom-font( @font-family-3-extra-bold-typeface; 15 );
  }

}

