/* 404 */
.page-404 {
  /*Position ( begin )*/
  .mixin_absolute_stretching ();

  background: #0d3349 url("@{images-path}/404/Cup-Splash-Warm-Coffee.jpg") no-repeat center;

  &__table {
    width: 100%;
    height: 100%;
  }
  &__subtitle-2 {
    display: block;
    margin: 30px 0px;
  }

  &__text-wrapper {
    padding: 0px 15px;
  }

  /*Position ( end )*/
  /*Fonts ( begin )*/
  &__title {
    .mixin_custom-font( @font-family-3-bold-typeface; 120; );
  }
  &__subtitle-1 {
    .mixin_custom-font( @font-family-3-semi-bold-typeface; 60; );
  }
  &__subtitle-2 {
    .mixin_custom-font( @font-family-3-semi-bold-typeface; 20; );
  }
  /*Fonts ( end )*/
  /*Colors ( begin )*/
  .mixin_contrast-colors( @color-4-layout; transparent; );
  /*Colors ( end )*/

  @media ( max-width: 767px ) {
    .btn {
      margin-bottom: 15px;
    }
  }
}

